SECRET_KEY="GENERATED_SECRET_KEY_FOR_JWT" # Generated with $ openssl rand -hex 32
ALGORITHM="HS256"
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"

ALLOWED_ORIGINS="YOUR_ADMITTED_ORIGINS"

# Authentication credentials. This will be used for authentication.
# This app does not have a user database
USERNAME="USERNAME_FOR_AUTHENTICATION"
PASSWORD="PASSWORD_FOR_AUTHENTICATION"
HASHED="HASHED_AUTH_PASSWORD" # Hashed version of the password, generated with bcrypt

# API Gateway URL to list all available documents in an S3 bucket via a Lambda function
API_URL="DOCUMENT_LISTING_LAMBDA"

# CDN URL that serves the documents in the S3 bucket
CDN_URL="DOCUMENT_URL"

BASE_DIR="app"
